<table class="wp-list-table widefat fixed striped posts">
	<thead>
		<tr>
			<th style="width: 35%;">[[th-col1]]</th>
			<th>[[th-col2]]</th>
			<th style="width: 6em;">[[th-col3]]</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-if="![[list]]">
			<td>{{ resultsMessage }}</td>
			<td></td>
			<td></td>
		</tr>
		<tr ng-repeat="(foundOnURL, deadResources) in [[list]]">
			<td><a href="{{ foundOnURL }}">{{ foundOnURL }}</a></td>
			<td colspan="2">
				<table class="wp-list-table widefat fixed">
					<tr ng-repeat="deadResource in deadResources">
						<td>{{ deadResource.URL }}</td>
						<td style="width: 5em;">{{ deadResource.StatusCode }}</td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>[[th-col1]]</th>
			<th>[[th-col2]]</th>
			<th>[[th-col3]]</th>
		</tr>
	</tfoot>
</table>
